{% extends 'base.html.twig' %}

{% block title %}Gestion des marques{% endblock %}

{% block body %}
    <h1>Gestion des Marques</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Logo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for brand in brands %}
            <tr>
                <td>{{ brand.id }}</td>
                <td>{{ brand.name }}</td>
                <td>{{ brand.logo }}</td>
                <td>
                    <a href="{{ path('brand_show', {'id': brand.id}) }}">Visualiser</a>
                    <a href="{{ path('brand_edit', {'id': brand.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('brand_new') }}">Ajouter une marque</a>
{% endblock %}
