{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <nav>
        <a href="{{path('product_index')}}">Produits</a>
        <a href="{{path('brand_index')}}">Marques</a>
        <a href="{{path('category_index')}}">Categories</a>
        <a href="{{path('color_index')}}">Couleurs</a>
        <a href="{{path('size_index')}}">Pointures</a>
        <a href="{{path('stock_index')}}">Stocks</a>
    </nav>
    <h1>Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ category.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('category_index') }}">Retour à la liste</a>

    <a href="{{ path('category_edit', {'id': category.id}) }}">Modifier</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
