{% extends 'base.html.twig' %}

{% block title %}Gestion des produits{% endblock %}

{% block body %}
    <nav>
        <a href="{{path('product_index')}}">Produits</a>
        <a href="{{path('brand_index')}}">Marques</a>
        <a href="{{path('category_index')}}">Categories</a>
        <a href="{{path('color_index')}}">Couleurs</a>
        <a href="{{path('size_index')}}">Pointures</a>
        <a href="{{path('stock_index')}}">Stocks</a>
    </nav>
    <h1>Gestion des produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Image</th>
                <th>Categorie</th>
                <th>Marques</th>
                <th>Couleur</th>
                <th>Prix</th>
                <th>Genre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.image }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.brand }}</td>
                <td>{{ product.color }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.gender }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">Voir</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}">Ajouter un nouveau produit</a>
{% endblock %}
