{% extends 'base.html.twig' %}

{% block title %}Visualisation de produits{% endblock %}

{% block body %}
    <nav>
        <a href="{{path('product_index')}}">Produits</a>
        <a href="{{path('brand_index')}}">Marques</a>
        <a href="{{path('category_index')}}">Categories</a>
        <a href="{{path('color_index')}}">Couleurs</a>
        <a href="{{path('size_index')}}">Pointures</a>
        <a href="{{path('stock_index')}}">Stocks</a>
    </nav>
    <h1>Visualisation de produits</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ product.image }}</td>
            </tr>
                        <tr>
                <th>Categorie</th>
                <td>{{ product.category }}</td>
            </tr>
            <tr>
                <th>Marques</th>
                <td>{{ product.brand }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ product.color }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ product.gender }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('product_index') }}">Retour à la liste</a>

    <a href="{{ path('product_edit', {'id': product.id}) }}">Modifier</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
