{% extends 'base.html.twig' %}

{% block title %}Gestion des pointures{% endblock %}

{% block body %}
    <h1>Gestion des pointures</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pointure</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for size in sizes %}
            <tr>
                <td>{{ size.id }}</td>
                <td>{{ size.name }}</td>
                <td>
                    <a href="{{ path('size_show', {'id': size.id}) }}">Voir</a>
                    <a href="{{ path('size_edit', {'id': size.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('size_new') }}">Ajouter une nouvelle pointure</a>
{% endblock %}
