{% extends 'base.html.twig' %}

{% block title %}ajout de taille{% endblock %}

{% block body %}
    <nav>
        <a href="{{path('product_index')}}">Produits</a>
        <a href="{{path('brand_index')}}">Marques</a>
        <a href="{{path('category_index')}}">Categories</a>
        <a href="{{path('color_index')}}">Couleurs</a>
        <a href="{{path('size_index')}}">Pointures</a>
        <a href="{{path('stock_index')}}">Stocks</a>
    </nav>
    <h1>Ajouter une pointure</h1>

    {{ include('size/_form.html.twig') }}

    <a href="{{ path('size_index') }}">Retour à la liste</a>
{% endblock %}
