{% extends 'base.html.twig' %}

{% block title %}Size{% endblock %}

{% block body %}
    <h1>Size</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ size.id }}</td>
            </tr>
            <tr>
                <th>Pointure</th>
                <td>{{ size.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('size_index') }}">Retour à la liste</a>

    <a href="{{ path('size_edit', {'id': size.id}) }}">Modifier</a>

    {{ include('size/_delete_form.html.twig') }}
{% endblock %}
