{% extends 'base.html.twig' %}

{% block title %}Gestion des stocks{% endblock %}

{% block body %}
    <nav>
        <a href="{{path('product_index')}}">Produits</a>
        <a href="{{path('brand_index')}}">Marques</a>
        <a href="{{path('category_index')}}">Categories</a>
        <a href="{{path('color_index')}}">Couleurs</a>
        <a href="{{path('size_index')}}">Pointures</a>
        <a href="{{path('stock_index')}}">Stocks</a>
    </nav>
    <h1>Gestion des stocks</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Produit</th>
                <th>Pointure</th>
                <th>Quantity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.id }}</td>
                <td>{{ stock.product }}</td>
                <td>{{ stock.size }}</td>
                <td>{{ stock.quantity }}</td>
                <td>
                    <a href="{{ path('stock_show', {'id': stock.id}) }}">Voir</a>
                    <a href="{{ path('stock_edit', {'id': stock.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('stock_new') }}">Ajouter un nouveau stock</a>
{% endblock %}
